@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Montserrat:wght@400;600&family=Readex+Pro&display=swap');
body{
    background-color:#1F1F1F;
    font-family: 'Montserrat', sans-serif;
    color: #cfe3fa;
}

span{
    color: #7ba1d1;
}
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.logo{
    display: flex;
    cursor:context-menu;
}
.logo-text{
    margin: 20px 0 0 0;
}
.logo img{
    width: 33px;
    height: 33px;
    margin: 15px 5px 0 15px;
}
.exit-box{
    display: flex;
    cursor: pointer;
}
.exit-text{
    margin: 20px 15px 0 0;
}
.exit{
    margin: 18px 15px 0 0;
    width: 33px;
    height: 33px;
}
.exit:hover{
    color: rgb(226, 226, 226);
}
/* NAV */
nav{
    margin: 20px 0 0 0;
    height: 90px;
    /*width: 100%;*/
    display: flex;
    background-color: #cfe3fa;
    color: black;
    justify-content: space-around;
    padding: 0 80px;
    font-size: 20px;
}
nav div{
    margin: 30px 0 0 0;
    cursor: pointer;
}
/* WINDOW */
.main{
    background-image: url(../img/fon.png);
    width: 100%;
    height: 439px;
    background-size: cover;
    font-size: 40px;
    font-weight: 600;
    line-height: 55.67px;
    text-align: center;
}
.title-text{
    width: 1031px;
    margin: 0 auto;
    padding: 90px 0;
}
.stripe{
    height: 255px;
    width: 100%;
    background-color: transparent;
}
.white-block{
    height: 121px;
    background-color: #cfe3fa;
    width: 100%;
}
.go-to-news{
    position: absolute;
    top: 650px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 17%;
}
.box{
    width: 362px;
    height: 233px;
    background-size: cover;
    box-shadow: 0px 0px 18px 5px rgba(11, 16, 21, 0.5);
    margin: 0 0 60px 0;
    border-radius: 15px;
}
.first-box{
    background-image: url(../img/money.png);
}
.second-box{
    background-image: url(../img/code.png);
}
.third-box{
    background-image: url(../img/game.png);
}
.fourth-box{
    background-image: url(../img/code2.png);
}
.box-text{
    text-align: center;
    font-size: 24px;
    padding: 30px;
    vertical-align: center;
}
/* company */
.company{
    width: 100%;
    height: 560px;
    background-image: url(../img/company.png);
}
.company-title{
    color: rgba(255, 255, 255, 0.4);
    font-weight: 600;
    margin: 52px auto 0;
    text-align: center;
    font-size: 56px;
}
.company-text{
    color: rgba(215, 215, 215, 1);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    width: 1090px;
    margin: 100px auto;
}
/* TESTS */
.tests{
    color: black;
    width: 100%;
    height: 343px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.tests div{
    margin: 24px;
    width: 370px;
    text-align: center;
}
.title-test{
    font-size: 23px;
    font-weight: 600;
}
.text-test{
    font-size: 18px;
    font-weight: 400;
}
/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    background-color: black;

    width: 100%;

}
.contacts{
    display: flex;
    margin: 0 0 0 30px;
}
.description{
    margin: 0  0 0 40px;
}

.links{
    display: flex;
    width: 330px;
}
.links img {
    width: 45px;
    height: 45px;
    margin: 20px 10px 0 10px;
}